form {
    padding: 20px;
    border-radius: 0px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    }

label {
    font-family: 'tomorrow', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}

.login {
    width: 700px;
    height: 350px;
    background-color: #DFDCD5;
    flex-direction: column;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-radius: 25px;
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.8);
    margin-bottom: 200px;
    background: linear-gradient(to bottom, #fffbf1, #c9c7c1);
}

.login-button {
    background: linear-gradient(135deg, #c3fa37, #D5FF67);
    padding: 10px;
    font-weight: bold;
    font-size: 12px;
    border: none;
    color: #000;
    cursor: pointer;
    border-radius: 25px;
    width: 120px;
    align-self: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.5);
    position: relative;
    font-family: 'tomorrow';
    
}

.login-button:hover {
    background: linear-gradient(135deg, #b7ff00, #8cc300);
    box-shadow: 3px 3px 10px #b7ff00;
}

.login-button:active {
    box-shadow: none;
    transform: translateY(2px);
}

.login-container {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 250px;
}

input {
    padding: 10px;
    font-size: 14px;
    border: none;
    background-color: white;
    border-radius: 5px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);   
}



.rol-label-container {
    display: flex;
    align-items: center; 
    gap: 10px;
}

.rol-label {
    font-weight: bold;
    background: linear-gradient(to bottom, #545454, #2d2d2d);
    color: #FFFFFF;    
    padding: 5px 30px; 
    color: white;
    font-family: 'tomorrow', sans-serif;
    font-size: 12px; 
    border-radius: 25px;
    
}


.rol-dropdown {
    border-radius: 15px;
    background: linear-gradient(to bottom, #b3b3b3, #c9c7c1);
    color: #000000;
    box-shadow:inset 0 7px 10px rgba(0, 0, 0, 0.2);
    height: 30px;
    width: 300px;
    font-size: 14px;  
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    font-family: 'tomorrow', sans-serif; 
    border-radius: 10px; 
}


