<div class="header">
  <div class="container-logo">
   <nav class="navbar-logo">
     <img src="assets/utn.png" alt="Logo" class="logo-image"> 
   </nav>
 </div>
 <div class="container">
   <nav class="navbar">
     <ul>
       <li><a class="nav-link" [routerLink]="['/dashboard']">GESTOR</a></li>
       <li><a class="nav-link" [routerLink]="['/dashboard-historial']">HISTORIAL</a></li>
       <li><a class="nav-link" [routerLink]="['/dashboard-ot']">ORDENES DE TRABAJO</a></li>
       <li><a class="nav-link" [routerLink]="['/dashboard-op']">OPERARIOS</a></li>
       <li><a class="nav-link-registrar" [routerLink]="['/register']">REGISTRAR</a></li>
     </ul>
   </nav>
 </div>

 <div class="container-menu">
  <nav class="navbar-menu">
    <button #gearButton class="gear-button">
      <img src="assets/buttonoff.svg" alt="Configuración" class="icon">
  </button>
  
  <button #userButton class="user-button" (mouseover)="tooltipVisible = true" (mouseout)="tooltipVisible = false">
    <img src="assets/usericon.svg" alt="Usuario" class="icon">
</button>
<div *ngIf="tooltipVisible" class="tooltip">{{ userName }}</div>
    <div #dropdownMenu class="dropdown-menu">
      <div class="seccionOpciones">
        <select class="selectOpcion" (change)="onOptionSelect($event)">
          <option value="" disabled selected hidden>Seleccione una opción</option> 
          <option *ngFor="let opcion of opciones" [value]="opcion.id_opcion">{{ opcion.descripcion }}</option>
        </select>
      </div>
    </div>
  </nav>
</div>
</div>