* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

body {
  margin: 0; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ABA89F;
  padding: 6px 10px; /* Ajuste de padding */
  font-family: 'Tomorrow', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative; /* Cambiado de fixed a relative */
  width: 100%; 
  z-index: 1000; 
}

.logo img {
  width: 50px;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin-right: 25px; 
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 15px; 
  font-weight: 600;
  line-height: 28px; 
  letter-spacing: 0.1em; 
  text-align: left;
  padding: 8px 15px; 
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #D5FF67;
}

.navbar ul li a.registrar {
  background-color: #D5FF67;
  color: #333;
  padding: 8px 25px; 
  border-radius: 30px;
  clip-path: polygon(84% 12%, 89% 41%, 89% 100%, 16% 100%, 10% 68%, 10% 11%);
}

.navbar ul li a.registrar:hover {
  background-color: #c4f55a;
}

.hamburger {
  width: 35px; 
  height: 25px; 
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
}

.hamburger::before,
.hamburger::after,
.hamburger div {
  content: '';
  height: 4px; 
  background-color: #D5FF67;
  border-radius: 2px;
}

.hamburger::before,
.hamburger::after {
  display: block;
  width: 100%;
  margin: 3px 0; 
}

.hamburger div {
  width: 100%;
}

.profile-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-icon img.profile-image {
  width: 35px; 
  height: 35px; 
  background-color: #D5FF67;
  border-radius: 50%;
  padding: 2px; 
}
