<div class="header">
   <!-- Navbar Logo a la izquierda -->
   <div class="container-logo">
    <nav class="navbar-logo">
      <img src="assets/utn.png" alt="Logo" class="logo-image"> 
    </nav>
  </div>
  <div class="container"> <!-- Contenedor que centra el navbar principal -->
    <nav class="navbar">
      <ul>
        <li><a class="nav-link" [routerLink]="['/dashboard']">ACTIVOS</a></li>
        <li><a class="nav-link" [routerLink]="['/dashboard-historial']">HISTORIAL</a></li>
        <li><a class="nav-link" [routerLink]="['/dashboard-ot']">ORDENES DE TRABAJO</a></li>
        <li><a class="nav-link" [routerLink]="['/dashboard-op']">OPERARIOS</a></li>
        <li><a class="nav-link-registrar" [routerLink]="['/register']">REGISTRAR</a></li>
      </ul>
    </nav>
  </div>
 

  <!-- Navbar Menu a la derecha -->
  <div class="container-menu">
    <nav class="navbar-menu">
      <button class="icon-button">⚙️</button> <!-- Icono o botón -->
      <button class="icon-button">👤</button>      
    </nav>
  </div>

  
  
</div>
