
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="title">HITORIAL</div>    
    </div>
        <table class="titlestable">
            <thead>
                <tr>
                    <th>Activo</th>
                    <th>ID</th>
                    <th>Tag</th>
                    <th>Historial</th>
                </tr>
            </thead>
        </table>    
        <table class="table">
            <tbody>
                <tr>
                    <td>Ejemplo 1</td>
                    <td>12345</td>
                    <td>TAG123</td>
                    <td>Historial disponible</td>
                </tr>
                <tr>
                    <td>Ejemplo 2</td>
                    <td>54321</td>
                    <td>TAG543</td>
                    <td>Historial disponible</td>
                </tr>
                <tr>
                    <td>Ejemplo 3</td>
                    <td>67890</td>
                    <td>TAG678</td>
                    <td>Sin historial</td>
                </tr>
                <tr>
                    <td>Ejemplo 4</td>
                    <td>98765</td>
                    <td>TAG987</td>
                    <td>Historial disponible</td>
                </tr>
                <tr>
                    <td>Ejemplo 5</td>
                    <td>24680</td>
                    <td>TAG246</td>
                    <td>Sin historial</td>
                </tr>
            </tbody>
        </table>
        <div class="dropdown">            
            <select class="dropdown-content">
              <option value="Iluminacion">Iluminacion</option>
              <option value="Aire Acondicionado">Aire Acondicionado</option>
              <option value="Puertas">Puertas</option>
              <option value="Ventanas">Ventanas</option>
            </select>
          </div> 
    </div>
    