<div class="container">
  <!-- Panel de botón de HISTORIAL -->
  <div class="operarios-panel">
    <div class="operarios-button">HISTORIAL</div>
  </div>

  <div class="filter">
    <h1>Filtrar por:</h1>
    <label for="operarioSelect" class="operarios-label">Operario:</label>
    <select id="operarioSelect" [(ngModel)]="operarioSeleccionado" class="operarios-dropdown">
      <option value="" disabled selected>Seleccione un operario</option> 
      <option *ngFor="let operario of operarios" [value]="operario.username">
        {{ operario.username }}
      </option>
    </select>
    
    <label for="activoSelect" class="activo-label">Activo:</label>
    <select id="activoSelect" [(ngModel)]="activoSeleccionado" class="activo-dropdown">
      <option value="" disabled selected>Seleccione un activo</option>
      <option *ngFor="let activo of activos" [value]="activo.tipo_activo">
        {{ activo.tipo_activo }}
      </option>
    </select>
      
   
  <button (click)="cargarOrdenes()" class="cargar-tareas-button">Ver</button>


  <button (click)="limpiarFiltros()" class="cargar-tareas-button">Limpiar</button>

  </div>

  <!-- Contenido de tareas -->
  <div class="tareas-content">
    <div class="blank-box">
      <div class="webcomponent">
        <ul>
          <li *ngFor="let orden of ordenesTrabajo" class="orden-item">
            <div class="orden-cuadro">
              <h1>Orden N°{{ orden.OT_num }}</h1>
              <p>Fecha: {{orden.fecha}}</p>
              <p>Activo: {{orden.tipo_activo}}</p>
              <p>Código único: {{ orden.codigo_unico }}</p>
              <p>Tarea asignada al operario: {{ orden.operario_username }}</p>
              <!-- Botón para ver más detalles -->
              <div class="ver-detalles-button" (click)="verDetalles(orden)">
                Ver detalles
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Modal de detalles de la orden seleccionada -->
<div *ngIf="ordenSeleccionada" class="orden-detalle-modal">
  <div class="modal-content">
    <h2>Detalles de la Orden N°{{ ordenSeleccionada.OT_num }}</h2>
    <p><strong>Fecha:</strong> {{ ordenSeleccionada.fecha }}</p>
    <p><strong>Edificio:</strong> {{ ordenSeleccionada.edificio_nombre }}</p>
    <p><strong>Activo:</strong> {{ ordenSeleccionada.tipo_activo }}</p>
    <p><strong>Código único:</strong> {{ ordenSeleccionada.codigo_unico }}</p>
    <p><strong>Descripción:</strong></p>
    <ul>
      <li *ngFor="let tarea of ordenSeleccionada.tareas.split(',')" class="tarea-item">{{ tarea.trim() }}</li>
    </ul>
    <p><strong>Observaciones: </strong>{{ ordenSeleccionada.observacion }}</p>

    <!-- Botón para eliminar la orden -->
    <div class="eliminar-button" (click)="eliminarOrden(ordenSeleccionada.OT_num)">
      Eliminar Orden
    </div>

    <!-- Botón para cerrar el modal -->
    <div class="close-button" (click)="ordenSeleccionada = null">Cerrar</div>
  </div>
</div>
