* {
  font-family: 'Tomorrow', sans-serif; 
  font-size: 18px; 
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.1em; 
  text-align: left;
  box-sizing: border-box; 
}

.container {
  width: 1200px;
  height: 900px;
  margin: 20px auto;
  background: linear-gradient(to bottom, #fffbf1, #c9c7c1);
  padding: 20px;
  border-radius: 25px;  
  position: relative;
  box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.8);
  
  display: flex;
  flex-direction: column;
}

.operarios-panel {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.operarios-button {
  background: linear-gradient(to bottom, #545454, #2d2d2d);
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  border-radius: 25px;
  padding: 10px 20px;
  width: 150px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.tareas-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.blank-box {
  width: 100%;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 650px;
  overflow-y: auto;
}

.webcomponent ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.orden-item {
  margin-bottom: 10px;
}

.orden-cuadro {
  padding: 15px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 5px 0;
}

.orden-cuadro h1 {
  font-size: 24px;
  margin: 0;
  color: black;
}

.orden-cuadro p {
  font-size: 16px;
  margin: 6px 0;
  color: #333333;
}

.ver-detalles-button {
  background: linear-gradient(to bottom, #008CBA, #005F73);
  padding: 10px 15px;
  font-size: 14px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}

.ver-detalles-button:hover {
  background: linear-gradient(to bottom, #005F73, #008CBA);
}

.orden-detalle-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 50%;
  max-height: 80%;
  overflow-y: auto;
}

.close-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}

.close-button:hover {
  background-color: #d32f2f;
}

.content-below {
  margin-top: 20px;
}


.eliminar-button {
  background-color: #e53935;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.eliminar-button:hover {
  background-color: #b71c1c;
}

.filter {
  padding: 0px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.filter h1{
  margin-top: 10px;
}

.cargar-tareas-button {
  background: linear-gradient(to bottom, #545454, #2d2d2d);
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  border-radius: 25px;
  padding: 4px 20px;
  width: 120px; 
  height: 35px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.cargar-tareas-button:hover {
  background: linear-gradient(to bottom, #2d2d2d, #545454);
}

.pdf-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}

.pdf-button:hover {
  background-color: #45a049;
}
