<div class="container">
  <div class="operarios-panel">
     <button class="operarios-button">OPERARIOS</button>
    <select class="operarios-dropdown">
      <option value="" disabled selected></option> 
    </select>
  </div> 
  
  <div class="tareas-panel">
    <div class="tareas-header">
      <div class="header-item">TAREAS ASIGNADAS</div>
      <div class="header-item estado-header">ESTADO</div>
      <div class="header-item">OBSERVACIONES</div>
    </div>
    <div class="tareas-content">
      <div class="blank-box">
      </div> 
      <div class="estado-box">
      </div> 
      <div class="observaciones-box">
      </div>
    </div>
  </div>
  <div class="content-below"></div>
</div>