<div class="container">
  <div class="operarios-panel">
    <div class="operarios-header">Operarios</div>
    <select class="operarios-dropdown">
      <option value="pedro">Pedro</option>
      <option value="juan">Juan</option>
      <option value="jose">José</option>
      <option value="daniel">Daniel</option>
    </select>
  </div> 
  
  <div class="tareas-panel">
    <div class="tareas-header">
      <div class="header-item">Tareas Asignadas</div>
      <div class="header-item estado-header">Estado</div>
      <div class="header-item">Observaciones</div>
    </div>
    <div class="tareas-content">
      <div class="blank-box">
              </div> 
      <div class="estado-box">
        </div> 
      <div class="observaciones-box">
            </div>
  </div>
</div>
<div class="content-below"></div>
