* {
  font-family: 'Tomorrow', sans-serif; 
  font-size: 18px; 
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.1em; 
  text-align: left;
  box-sizing: border-box; 
}

.container {
  width: 80%;
  margin: 20px auto;
  background-color: #DFDCD5;
  padding: 20px;
  border-radius: 3px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  clip-path: polygon(0 0, 95% 0, 100% 9%, 100% 100%, 100% 100%, 6% 100%, 0 92%, 0 0);
  height: 600px;
  display: flex;
  flex-direction: column;
}

.operarios-panel {
  width: 32%; 
  padding: 10px;
  margin-right: 20px;
}

.operarios-header {
  background-color: #131210;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
  clip-path: polygon(92% 0%, 100% 35%, 100% 100%, 0 100%, 0 0);
}

.operarios-button {
  background-color: #131210;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
  clip-path: polygon(92% 0%, 100% 35%, 100% 100%, 0 100%, 0 0);
}

.operarios-dropdown {
  width: 80%;
  padding: 5px; 
  border: 2px solid #DFDCD5;
  border-radius: 5px;
  background-color: #ABA89F;
  appearance: none;
  -webkit-appearance: none;
  margin-top: 30px;
  font-size: 14px; 
}

.operarios-dropdown option {
  padding: 10px;
  background-color: #DFDCD5;
}


.tareas-panel {
  position: absolute;
  top: 50px;  
  right: 20px;
  width: 60%;
  background-color: #DFDCD5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.tareas-header {
  display: flex;
  justify-content: space-between; 
  width: 100%;
  margin-bottom: 20px;
}

.header-item {
  flex: 1; 
  text-align: center; 
  margin-bottom: 10px;
}


.tareas-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.blank-box, .estado-box, .observaciones-box {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-left: 20px;
  text-align: center; 
}


.blank-box {
  width: 65%;  
  height: 400px; 
}

.estado-box {
  width: 30%;  
  height: 400px; 
}

.observaciones-box {
  width: 65%;  
  height: 400px; 
}

.tareas-panel .header-item {
  text-align: right;
  padding-right: 20px;
}

.tareas-header .header-item {
  flex: none;
  text-align: right;
}
