<!DOCTYPE html>
<html>
<head>
    <title>Data Table</title>
</head>
<body>
    <div class="container">
        <div class="table-container">
            <div class="buttons">
                <div class="button agregar">AGREGAR</div>
                <div class="button eliminar">ELIMINAR</div>
                <div class="button editar">EDITAR</div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ACTIVOS</th>
                        <th>EDIFICIO</th>
                        <th>SECTOR</th>
                        <th>UBICACION</th>
                        <th>PISO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of ">
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
