body {
    font-family: Tomorrow;
   
}
.container {
    width: 80%;
    margin: 50px auto;
    background-color: #e5e1dc;
    margin-top: 0px;
    position: relative;
    padding: 20px;
    box-shadow: 10px 10px 0px 0px #000000;
    clip-path: polygon(0 0, 95% 0, 100% 9%, 100% 100%, 100% 100%, 6% 100%, 0 92%, 0 0);
    height: 600px;
}
.button {
    width: 100px;
    height: 50px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    clip-path: polygon(92% 0%, 100% 35%, 100% 100%, 0 100%, 0 0);
    margin-top: 40px;
    box-shadow: 5px 5px 0px 0px #000000;
    cursor: pointer;
}
.button.agregar {
    background-color: #D5FF67;
}
.button.eliminar {
    background-color: #ff4c4c;
}
.button.editar {
    background-color: #b3b3b3;
}
.buttons {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.table-container {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
    height: 500px;
}
th, td {
    background-color:#f2f2f2;

    padding: 10px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
}
.scroll-container {
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
thead th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 1;
}