
.container {
    width: 1200px;
    height: 600px;
    margin: 50px auto;
    background: linear-gradient(to bottom, #fffbf1, #c9c7c1);
    margin-top: 30px;
    position: relative;
    padding: 20px;     
    top: -30px; 
    border-radius: 25px;         
    font-family: Tomorrow;         
    display: flex;
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.8);
    
}
.button {
    width: 100px;
    height: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 20px; 
    background: linear-gradient(to bottom, #545454, #2d2d2d);
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
    
    cursor: pointer;
}
.button:hover{
    background: linear-gradient(135deg, #c3fa37, #D5FF67);
    color: #000;
}
.buttons {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    color:#FFFFFF;
}
.table-container {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    right: 0px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
    height: 500px;
    
}
th, td {
    background-color:white;

    padding: 10px;
    text-align: center;
}
th {
    background-color: white;
    font-weight: bold;
}
.scroll-container {
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
thead th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 1;
}