* {
    font-family: 'Tomorrow', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.formularioOrdenTrabajo {
    width: 1000px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 25px;
    background: linear-gradient(to bottom, #fffbf1, #c9c7c1);
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.8);
}


.observaciones {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.inputObservaciones {
    width: 95%;
    padding: 10px;
    font-size: 1rem;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: inset 0 7px 10px rgba(0, 0, 0, 0.2);
    border: none;
    resize: none;
    height: 100px;
}

.seccionPrincipalOrdenTrabajo {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    margin-left: 20px;
}

.contenedorDetallesOrdenTrabajo {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

.detallesOrdenTrabajoA {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.detallesOrdenTrabajoC {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    border: 1px solid #ccc;
    padding: 10px;
    height: 480px; 
    overflow-y: auto; 
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.tarea-item {
    padding: 5px;
    border-bottom: 1px solid #e0e0e0;
}

.tarea-item:last-child {
    border-bottom: none;
}

.tituloPrincipalOrdenTrabajo {
    font-weight: bold;
    background: linear-gradient(to bottom, #545454, #2d2d2d);
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    padding: 10px 10px;
    width: 180px;
    border-radius: 25px;
    margin-right: 20px;
    text-align: center;
}

.seccionOrdenTrabajo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.tituloOrdenTrabajo {
    font-weight: bold;
    background: linear-gradient(to bottom, #545454, #2d2d2d);
    color: #FFFFFF;
    padding: 10px 10px;
    width: 130px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
}

.inputOrdenTrabajo,
.selectOrdenTrabajo {
    margin-left: 20px;
    padding: 8px;
    border-radius: 25px;
    background: linear-gradient(to bottom, #b3b3b3, #c9c7c1);
    font-size: 14px;
    font-weight: bold;
    width: 200px;
    box-shadow: inset 0 7px 10px rgba(0, 0, 0, 0.2);
    border: none;
}

.inputListaTareas {
    width: 480px;
    height: 500px;
    padding: 10px;
    font-size: 1rem;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: inset 0 7px 10px rgba(0, 0, 0, 0.2);
    border: none;
}

select {
    border-radius: 15px;
    background: linear-gradient(to bottom, #b3b3b3, #c9c7c1);
    color: #000000;
    box-shadow: inset 0 7px 10px rgba(0, 0, 0, 0.2);
}

select:hover {
    border-color: #ABA89F;
    background-color: #ABA89F;
}

.selectOrdenTrabajo {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select:focus {
    background: linear-gradient(to bottom, #b3b3b3, #c9c7c1);
    outline: none;
    border-radius: 25px;
}

.buttonsub {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.button {
    font-weight: bold;
    background: linear-gradient(to bottom, #545454, #2d2d2d);
    color: #FFFFFF;
    padding: 10px 10px;
    width: 130px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
    border: none;
}

.button:hover {
    background: linear-gradient(135deg, #b7ff00, #8cc300);
    box-shadow: 0px 0px 6px #b7ff00;
    color: #2c2c2c;
}
