<footer class="footer">
    <div class="logo">
        <img alt="UTN FRVT logo" class="footer-logo" src="assets/utn FRVT.png"/>
        <p>Universidad Tecnológica Nacional</p>
        <p>Facultad Regional Venado Tuerto</p>
       </div>
       <ul class="footer-links">
        <li><a href="#">ACTIVOS</a></li>
        <li><a href="#">HISTORIAL</a></li>
        <li><a href="#">ORDEN DE TRABAJO</a></li>
        <li><a href="#">OPERARIOS</a></li>
       </ul>    
      </footer>
<footer class="botom">
    <div>
        © UTN FRVT 2024
    </div>      
  