
.footer {
  background-color: #131210;
  color: white;
  padding: 20px 0;
  text-align: center;
  font-family: 'Tomorrow';
  width: 100%;
  margin-top: auto; 
}

.logo {
  text-align: left;
  padding: 20px; 
}

.footer-logo {
  width: 200px;
  height: 90px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.botom {
  text-align: center;
  background-color: #020202;
  color: white;
  padding: 20px 0;
  font-family: 'Tomorrow';
  width: 100%;
  margin-top: auto; 
}